<% provide(:title, 'ルーレット') %>
<% if @post.present? %>
  <div class="relative max-w-lg pb-6 mx-auto mt-20 bg-white rounded-lg animate-bounce-in-top hover:animate-wobble-hor-bottom">
    <h2 class="text-center text-[#FAFAFA] bg-[#2ABCA7] rounded-t-lg p-4 text-3xl ">みんなの投稿</h2>
    <h2 class="mx-8 my-4 text-4xl  text-gray-700 "><%= @post.title %></h2>
    <p class="mx-8 my-4 text-xl text-gray-600 "><%= @post.content %></p>
      <div class="flex justify-center">
        <% if @post.post_image.url.present? %>
          <%= image_tag @post.post_image.url, size: "450x300"%>
        <% end %>
      </div>

    <div class="flex flex-wrap justify-center gap-2 m-8">
      <% @post.tags.each do |tag| %>
        <% tag_color = "#" + Digest::MD5.hexdigest(tag.tag_name)[0..5] %>
        <span class="px-3 py-1 text-sm rounded-full text-white" style="background-color: <%= tag_color %>;"><%= tag.tag_name %></span>
      <% end %>
    </div>
  </div>

  <p class="flex flex-col mt-6 text-center text-gray-500">
    <% if current_user.present? && current_user != @post.user %>
      <%= link_to '投稿をお気に入りする', post_path(@post), class: "hover:text-red-400" %>
    <% end %>
    <%= link_to 'トップページに戻る', root_path, class: "text-gray-500 hover:text-gray-800 mt-4" %>
  </p>
    <% else %>
  <div class="mt-20 text-center">
    <h2 class="text-4xl font-bold text-gray-700">みんなの投稿がまだありません！</h2>
    <%= link_to 'トップページに戻る', root_path, class: "text-gray-500 hover:text-gray-800 mt-4" %>
  </div>
<% end %>
