<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-8">
      <div class="card-body">
        <h2 class="card-title"><%= "お問い合わせ内容" %></h2>

        <table class="table">
          <tbody>
            <tr>
              <td class="text-center" style="width: 30%;" >お名前</td>
              <td><%= @contact.name %></td>
            </tr>
            <tr>
              <td class="text-center">メールアドレス</td>
              <td><%= @contact.email %></td>
            </tr>
            <tr>
              <td class="text-center">電話番号</td>
              <td><%= @contact.phone_number %></td>
            </tr>
            <tr>
              <td class="text-center">問い合わせ件名</td>
              <td><%= @contact.subject %></td>
            </tr>
            <tr>
              <td class="text-center">メッセージ</td>
              <td style="white-space: pre-wrap;"><%= @contact.message %></td>
            </tr>
          </tbody>
        </table>

        <%# 送信フォーム %>
        <%= form_for(@contact) do |f| %>
          <%= f.hidden_field :name %>
          <%= f.hidden_field :email %>
          <%= f.hidden_field :phone_number %>
          <%= f.hidden_field :subject %>
          <%= f.hidden_field :message %>
          <div><%= f.submit '送信する', class: 'btn btn-primary center mb-1' %></div>
        <% end %>

        <%# 入力画面に戻るフォーム %>
        <%= form_for @contact, url: back_path do |f| %>
          <%= f.hidden_field :name %>
          <%= f.hidden_field :email %>
          <%= f.hidden_field :phone_number %>
          <%= f.hidden_field :subject %>
          <%= f.hidden_field :message %>
          <div><%= f.submit '入力画面に戻る', class: 'btn btn-secondary' %></div>
        <% end %>
      </div>
    </div>
  </div>
</div>