<div class="bg_pattern Paper_v2"></div>
<div class="posts-new">
  <h2 class="posts-new__title">カードを作成しよう</h2>
  <div class="posts-new__content">
    <div class="posts-new__username">投稿者名：<%= current_user.name %></div>
    <%= form_for(@post) do |f| %>
      <div class="form-group mt-3">
        <div class="posts-new__form-control">
          <%= f.text_field :title, autofocus: true, placeholder: "Title" %>
        </div>
        <div class="posts-new__form-control">
          <%= f.text_area :content, placeholder: "Contents", rows: 5 %>
        </div>
        <div class="posts-new__form-control">
          <%= f.text_field :tag_name, value: @tag_list, placeholder: 'Tag（カンマ区切り）' %>
        </div>
      </div>
      <div class="posts-new__card-submit-button">
        <%= f.submit '投稿'%>
      </div>
    <% end %>
  </div>
</div>
