<div class="relative max-w-lg pb-6 m-20 mx-auto bg-white rounded-lg">
  <h2 class="text-center text-[#FAFAFA] bg-[#2ABCA7] rounded-t-lg p-4 text-3xl font-sembold">自分の投稿</h2>
  <h2 class="mx-6 mt-4 text-4xl font-bold text-gray-700"><%= @post.title %></h2>
  <p class="mx-8 mt-4 text-3xl text-gray-600 h-[150px] overflow-y-auto "><%= @post.content %></p>

  <% if current_user != @post.user %>
    <div class="flex justify-end mr-10">
      <%= turbo_frame_tag 'like_button' do %>
        <%= render 'likes/like_button', post: @post, liked: @post.liked_by?(current_user) %>
      <% end %>
    </div>
  <% end %>

  <div class="mt-2 ml-6 text-gray-500 m mypl-4">
    投稿者名：<%= current_user.name %><br/>
    投稿日：<%= l @post.created_at, format: :long %>
  </div>
  <div class="flex flex-wrap justify-center gap-2 m-8"> 
    <% @post.tags.each do |tag| %>
      <% tag_color = "#" + Digest::MD5.hexdigest(tag.tag_name)[0..5] %>
      <span class="px-3 py-1 text-sm rounded-full" style="background-color: <%= tag_color %>;"><%= tag.tag_name %></span>
    <% end %>
  </div>

  <div class="flex justify-center gap-2 mt-4">
    <a href="http://twitter.com/share?url=http://localhost:3000/posts/<%= @post.id %>&hashtags=モチベの泉&hashtags=投稿をシェア" target="_blank" rel="nofollow noopener noreferrer" class="text-gray-500 hover:text-gray-700">
      <i class="fa-brands fa-square-x-twitter" style="font-size: 200%"></i>
    </a>
    <a href="https://line.me/R/msg/text/?『モチベの泉』の投稿をシェア%20http://localhost:3000/posts/<%= @post.id %>" target="_blank" rel="nofollow noopener noreferrer" class="text-gray-500 hover:text-gray-700">
      <i class="fab fa-line" style="font-size: 182%"></i>
    </a>
    <a href="http://www.facebook.com/share.php?u=http://localhost:3000/posts/<%= @post.id %>" target="_blank" rel="nofollow noopener noreferrer" class="text-gray-500 hover:text-gray-700">
      <i class="fab fa-facebook-square" style="font-size: 200%"></i>
    </a>
  </div>

  <% if current_user == @post.user %>
    <div class="absolute bottom-[-80px] left-1/2 transform -translate-x-1/2 flex justify-center space-x-4">
    <%= link_to '編集する', edit_post_path(@post), class: "w-36 py-4 font-sembold text-center text-xl text-white bg-amber-500 border-0 border-b-8 border-amber-600 rounded-full cursor-pointer outline-none hover:mt-1 hover:border-b-2 transition-all ease-in-out duration-300" %>
    </div>
  <% end %>
  </div>

<p class="pt-4 text-center text-gray-400 hover:underline "><a href="#" onclick="history.go(-1); return false;">前の画面に戻る</a></p>